.hero-image-cont{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
   
}
.hero-image-cont::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.7;
}

.hero-main-cont{
    height: 100%;
    width: 100%;
    
}

.hero-main-cont .hero-content-cont{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  text-align: center;
  
}
.hero-content-cont h1{
    font-size: 3.4rem;
    padding: 1rem 0 1.5rem;
    line-height: 130%;
    font-weight: 600;

    
}
.hero-content-cont h3{
    font-size: 2.4rem;
    font-weight: 200;
}

.hero-content-cont .btn{
     margin-left: .6rem;
     font-size: 1.2rem;
}

.contact-me-drag{
    margin-top: 13vh;
    font-size: 3rem;
    color: rgb(221, 214, 214);
    display: flex;
    text-decoration: none;
    gap: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.contact-me-drag:hover{
    transform: scale(0.90);
    color: aqua;
}
@media screen and (max-width: 650px) {
    .hero-content-cont h1{
        font-size: 2.4rem;
        padding: 1rem 0 1.5rem;
        line-height: 130%;
        font-weight: 600;
    
        
    }
    .hero-content-cont h3{
        font-size: 1.6rem;
        font-weight: 200;
    }
    
    .hero-content-cont .btn{
         margin-left: .6rem;
         font-size: 4vw;
    }
}