@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Outfit:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
  font-weight: 600;
  letter-spacing: 1.4px;
}

html{
  scroll-behavior: smooth;
}

body {
  background: #15161b;

}
/* .light-bdy{
  background: white;
} */
.light-bdy,.dark-bdy{
  transition: 0.8s ease-in-out;
}
h1,
h4,
h3,
p,
.nav-right-list-title {
  text-decoration: none;
  color: #c3b8b8;
}
.nav-right-list-title {
  padding-bottom: 2px;
  width: 50%;
  display: block;
  content: "";
}
.btn-links {
  text-decoration: none;
}

.nav-right-list-title:hover {
  animation: navBorder 0.2s ease-in-out;
  padding-bottom: 2px;
  margin: 0;
  display: block; /* probably not really needed? */
  content: "";
  width: 50%;
  border-bottom: 2px solid white;
  color: #fff;
}
.active-nav {
  padding-bottom: 2px;
  margin: 0;
  display: block; /* probably not really needed? */
  width: 50%;
  border-bottom: 2px solid white;
  color: #fff;
  text-decoration: none;
}
.nav-right-list-title,
.active-nav {
  font-size: 1.2rem;
}
@keyframes navBorder {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
ul {
  list-style: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 217, 14);
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 800;
}

.btn-light {
  background-color: transparent;
  color: #fff;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363434;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}
